* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  padding: 1rem;
}
.button {
  text-align: right;
}
.div span {
  color: green;
}
div button {
  text-align: right;
  border: 0;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 0.7rem;
  color: green;
}
h1 {
  text-align: center;
  font-size: 48px;
}
.farmers {
  display: flex;
}
.farmers p {
  font-size: 24px;
  padding: 0.45rem;
  margin-bottom: 0.45rem;
}
.follow {
  text-align: center;
  font-size: 24px;
}
.sed {
  display: flex;
  padding: 2rem;
  font-size: 20px;
  margin: 1rem;
}
.green {
  display: flex;
  font-size: 18px;
  padding: 2rem;
  padding: 1rem;
  font-weight: lighter;
}
h2 {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
.livestock {
  display: flex;
  font-size: larger;
  padding-left: 1rem;
}
.cash {
  display: flex;
  font-size: larger;
  padding-left: 1rem;
}
.illo {
  display: flex;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0;
  width: 850px;
  height: 450;
  margin-left: 5rem;
}
h1 span {
  color: green;
}
.network {
  color: green;
}
.Watch {
  text-align: center;
  color: green;
  font-size: larger;
}
.Watch button {
  background-color: green;
  color: aliceblue;
  width: 120px;
}
.farm {
  text-align: left;
  color: green;
}
.farm button {
  background-color: green;
  color: azure;
  padding: 1rem;
  margin-left: 1rem;
}
.how {
  padding: 1rem;
  margin: 1rem;
  text-align: justify;
  font-weight: bolder;
}
.how button {
  background-color: green;
  color: aliceblue;
}
.now {
  margin-top: 1rem;
  padding-top: 1rem;
}
.now button {
  background-color: green;
  color: aliceblue;
}
.rew img {
  background-color: rgb(35, 93, 145);
  background: rgb(202, 76, 76);
}
footer img {
  background-color: blueviolet;
}
