* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  text-align: center;
  padding: 0.54rem;
  margin: 0.5rem;
}
header {
  margin-left: 0.7rem;
}

nav {
  text-align: right;
}
nav button {
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
.search {
  padding: 0.5rem;
  margin: 0.2rem;
}
.search {
  text-align: left;
  padding: 0.5rem;
  width: 220px;
  cursor: pointer;
}
.row-boxes {
  display: flex;
  gap: 20;
  padding: 1rem;
  margin: 1rem;
}
.prince-boxes {
  display: flex;
  gap: 20;
  padding: 1rem;
  margin: 1rem;
}
footer {
  text-align: center;
}
.pople {
  text-align: center;
  width: 1120px;
  padding: 1rem;
  margin: 4rem;
  border: 0;
  cursor: pointer;
}
