* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: right;
}
header h2 {
  text-align: center;
  color: blue;
  font-size: xx-large;
}
nav button {
  background-color: blue;
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 0;
  border: 0;
  margin: 1rem;
  font-weight: bolder;
}
.row-name {
  display: flex;
  gap: 20;
  margin: 5rem;
  color: blue;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
}
.hobby {
  text-align: center;
  font-size: xx-large;
  color: blue;
  margin: 1rem;
  font-family: "Courier New", Courier, monospace;
}
