* {
  margin: .
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  padding: 1rem;
}
.about {
  border: 1px solid white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5px;
border-radius: 0;
width: 1400px;

}
.about button{
     padding: 0.5rem;
  width: 1150px;
  text-align: center;
  background-color: blueviolet;
  border: 0;
  color: white;
  font-weight: bold;
  margin-left: 3rem;

    
}
.skills{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.log{
font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left:  5rem;

}.education{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
  text-align: center;
}
.website{
  margin-left:  5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.people{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left:  5rem;
}